.header {
    background: black;
    color: aliceblue;
    padding: 20px;
}

.sidebar {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
}

.sectionX {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}

.inputs {
    display: "flex";
    flex-direction: "column";
    margin-bottom: 20px;
}

.inputs-values {
    font-weight: bolder;
    text-decoration: underline;
}

input {
    width: 110px;
}

button {
    width: 150px;
    height: 30px;
}

.show-results {
    display: block;
}

.hide-results {
    display: none;
}

.result-title {
    font-weight: bolder;
}

.footer {
    background: blue;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}